/* body {
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/003/087/695/original/virtual-studio-style-news-background-free-video.jpg)
} 
.news > h3,
.climate {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: .5rem;
    padding: .3rem;
    font-size: 1.2rem;
}
.climate {
    background: right/contain content-box border-box no-repeat
    url('https://ak2.picdn.net/shutterstock/videos/21937012/thumb/1.jpg') rgba(255, 255, 255, 0.734);
}
h1 {
    text-align: center;
    color: burlywood;
    padding: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#ff634764;
}
h3{
    text-align: center;
    color: burlywood;
    padding: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
p {
    text-align: center;
    font-size: 20px;
    color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
table{
    text-align: center;
    color: #fff;
    font-family: 'Times New Roman', Times, serif
}
.centerTable {
    margin-left: auto;
    margin-right: auto;
  }
td{
    text-align: center;
    color: #fff;
}
header{
    text-align: center;
    font: bold;
}
footer {
    display: flex;
    justify-content: center;
    padding: 7px;
    background-color: #1e9fd2;
    color: #fff;
}
figcaption{
    color: #fff;
    text-align: center;
}

span.burlywood{
    color: burlywood;
} */